body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f4f9f9;
}

#presentation {
    height: 90vh;
    width: 100%;
    background-image: url("../img/presentation-bg3.png");
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
color:white;
}


#presentation-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    font-weight: bold;
}

h1 {
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.presentation-description{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.avatar {
    height: 150px;
    margin-right: 100px;
}

#quisuisje {
    height: 60vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quisuisje-content{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.quisuisje-content p {
    width: 600px;
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Courier New', Courier, monospace;
}

h2{
  text-align: center;
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:black;
}

#centredinteret {
    height:60vh;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ccf2f4;
    text-align: center;
}



.quisuisje-content p{
    width: 500px;
    text-align: justify;
    text-justify: inter-word;

}

.avatar1 {
    height: 150px;
}
.avatar2 {
    height: 150px;
}

#centredinteret1 {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
     width: 80%;
    
     
}
#centredinteret1 p {
    font-family: 'Courier New', Courier, monospace;
    
     
}

h3{
  text-align: center;
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #000000;
}
.centredinteret-content{
    background-color: white;
    padding: 15px;
    min-width: 250px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#competences {
    height: 90vh;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 90vh;

}

.competence-icon{
    width: 150px;
    height: 150px;
}
#liste_competences{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   width: 100%;
   height: 500px;
}

h4 {
    text-align: center;
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #000000;

}

.competence  p {
    font-family: 'Courier New', Courier, monospace;
}
    

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    perspective: 1000px;
    display: flex;
  }


.test {
    background-color: blue;
    padding: 15px;
    border-radius: 5px;
}
.test p {
    font-size: 50px;
    color: white;
    font-family: ROBOTO;
}
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #ccf2f4;
    color: black;
  }
  
  .flip-card-back {
    background-color:#ccf2f4 ;
    color: black;
    transform: rotateY(180deg);
  }

  .flip-card-back p{
    color: black;
    font-family: 'Courier New', Courier, monospace;
  }
  .flip-card-front-img {
      max-height: 140px;
      
  }

  .centrer-carte {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .carte-bas {
      align-self: flex-end;
  }

  .footer {
    position: absolute;
    display: block;
    margin-bottom: 0;
    width: 100%;
    background-color: #2b2e4a;
    color: white;
    text-align: center;
  }